* {
    box-sizing: border-box;
}

body {
    background-color: #e65f5f;
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 10px;
}

h2 {
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    background-color: #a72424;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    width: 350px;
    padding: 20px;
    max-width: 100%;
}

.result-container {
    background-color: #7e0a0a;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 15px;
    height: 50px;
    width: 100%;
}


.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}


.result-container .btn {
    position: static;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
}


.btn {
    border: none;
    background-color: #e65f5f;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn-large {
    display: block;
    width: 100%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

/* strength container */
#strength-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7e0a0a;
    padding: 10px 15px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
}

#strength {
    font-weight: bold
}

/*strength colors */
.strength-weak {
    color: #ff4d4d;
}

.strength-medium {
    color: #ffa500;
}

.strength-strong {
    color: #4dff88;
}